@model IEnumerable<Procedures>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Цъкни <a href="/swagger">Бутона</a>.</p>

    <div>
        @foreach (var procedure in Model)
        {
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Names</th>
                    <th>Science</th>
                    <th>
                        University
                    </th>
                    <th>
                        Km
                    </th>
                    <th>Count</th>
                    <th>
                        Pre-last date
                    </th>
                </tr>
            </table>
        }
    </div>
</div>
